version: '3.8'

services:
  portainer:
    image: portainer/portainer-ce
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints: [node.role == manager]
    ports:
    - "{{portainer_admin_port}}:{{portainer_admin_port}}"
    - "{{portainer_tunnel_port}}:{{portainer_tunnel_port}}"
    networks:
      - portainer-net
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    environment:
      AGENT_SECRET: {{portainer_agent_secret}}


  portainer_agent:
    image: portainer/agent:2.19.2
    networks:
      - portainer-net
    deploy:
      mode: global
      placement:
        constraints:
          - node.platform.os == linux
    environment:
      AGENT_SECRET: {{portainer_agent_secret}}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes

networks:
  portainer-net:
    driver: overlay

volumes:
  portainer_data:


